{% extends 'base.html.twig' %}

{% block title %}série #{{ program.id }}
{% endblock %}
{% block body %}
<div class="media">
	<div class="media-body">
		<h1 class="mt-0">{{ category.name }}</h1>
		<p>Catégorie :
			{# {{ program.category.name }}</p> #}
		</p>
	</div>
</div>

<a href="{{ path("program_show", { id: program.id }) }}">
	Voir la fiche
</a {% endblock %}
